@import "bootstrap/scss/bootstrap";

@import "./fonts.scss";

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: none !important;
    height: 24px;
    width: 24px;
    padding: unset;
}

.nx-block-temporary-position {
    min-height: unset !important;
}

.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    color: #ffffff;
    padding: 0 1rem;
    //background: rgb(27 38 79 / 87%);
}

.logo {
    height: 60px;
}

.navbar-logo-text {
    font-size: 12px;
    letter-spacing: 0.175rem;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.text-primary {
    color: rgb(255, 255, 255, 1);
}

.text-secondary {
    color: rgb(255, 255, 255, 0.8);
}

.text-terciary {
    color: rgb(255, 255, 255, 0.46);
}

.text-exceptions {
    color: rgb(255, 255, 255, 0.46);
}

/* define Gilroy as default font */
body {
    font-family: "Gilroy", sans-serif;
    background: #1b264f;
    background-color: #1b264f;
    color: #ffffff;
}

.heading-xxl {
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -1%;
}
.font-weight-semibold {
    font-weight: 600;
}
.letter-spacing-m {
    letter-spacing: 0.25em;
}
.icon-container {
    width: 24px;
    height: 100%;
    vertical-align: middle;
}

.bgimg {
    filter: blur(20%);
    background-size: cover;
    background-position: 20%;
    background-image: url("../images/HeaderBg.png");
}

.custom-search {
    position: relative;
}
.custom-search-input {
    width: 100%;
    border: none;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 80%);
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}
.custom-search-botton {
    height: 52px;
    position: relative;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 80%);
    background: #1b264f;
    color: #fff;
    outline: none;
    margin: 0;
    border-radius: 100px;
    z-index: 2;
    margin-top: 0.5rem;
    border: none !important;
    width: 100%;
}

.paragraph-regular-20 {
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    
}
.text-regular-20 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.175rem;
}
::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.ph {
    font-size: 24px;
}

.nvabar-button-no-shadow {
    box-shadow: none !important;
}

.navbar-background {
    backdrop-filter: blur(12px);
    padding-top: 0 !important;
}
.menu-opened {
    background: #1b264f;
    padding: 0.75rem 1rem !important;
    padding-bottom: 1.5rem !important;
}
.dropdown-toggle-no::after {
    content: none;
}

@include media-breakpoint-up(lg) {
    .navbar-background {
        background: none;
        padding-top: 1rem !important;
    }
}

@include media-breakpoint-up(md) {
    .autohide {
        padding: 0 3rem;
    }
}

@include media-breakpoint-up(sm) {
    .custom-search-botton {
        position: absolute;
        right: 4px;
        bottom: 4px;
        margin-top: 0;
        width: fit-content;
        box-shadow: none !important;
        border: none !important;
    }

    .navbar-logo-text {
        font-size: 1rem;
        display: block;
    }

    .logo {
        height: 80px;
    }
}

.c-footer {
    background-color: #e7e5da;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer-content .logo-section {
    font-weight: 600;
    color: #1b264f;
    filter: brightness(0) saturate(100%) invert(10%) sepia(39%) saturate(2929%)
        hue-rotate(213deg) brightness(98%) contrast(92%);
}
.c-footer {
    color: #1b264f;
}
.c-footer h5 {
    font-weight: 600;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
}
.c-footer li {
    margin: 1rem 0;
}
.c-footer a {
    color: #1b264f;
}

#language {
    display: none !important;
}

#faq {
    display: block !important;
}
#contacte {
    display: none !important;
}
#informatii a {
    justify-content: space-between;
}
.navbar-toggler.nvabar-button-no-shadow {
    padding: 0;
    border: none !important;
}
@include media-breakpoint-up(lg) {
    #faq {
        display: none !important;
    }
    .autohide {
        padding: 0 3rem;
    }
    .autohide.initial-top {
        margin-top: 1rem;
        backdrop-filter: blur(0px);
        box-shadow: 0 0px 0px 0px rgb(00 00 00 / 0%);
    }
    .c-footer {
        background-color: #e7e5da;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #language {
        display: block !important;
    }
    #contacte {
        display: block !important;
    }
}
.gray-text {
    color: rgba(0, 0, 0, 0.4);
}

.is-invalid {
    border: 2px solid;
}

.gap-6 {
    gap: 1rem;
}
.gap-6 i {
    display: none;
}
h6 {
    font-size: 12px;
}
.gap-6-sm {
    gap: 6rem;
}
@include media-breakpoint-up(sm) {
    .gap-6 {
        gap: 2rem;
    }
    .gap-6 i {
        display: block;
    }
    h6 {
        font-size: 16px;
    }
}
@include media-breakpoint-up(md) {
    .gap-6 {
        gap: 4rem;
    }
    .gap-6 i {
        display: block;
    }
    h6 {
        font-size: 20px;
    }
}
@include media-breakpoint-up(lg) {
    .gap-6 {
        gap: 6rem;
    }
}

.card {
    border-radius: 20px;
    height: 328px;
    width: 464px;
}

.container-wrapper {
    position: relative;
}

.behind {
    background-color: #aaa;
    z-index: 1;
}

.top-left {
    width: 80%;
    height: 312px;
    top: -20px;
    left: -20px;
    background-color: #77a1bb;
    z-index: -1;
}

.bottom-right {
    width: 364px;
    height: 224px;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%);
    background-color: #fce8c3;
    z-index: -1;
}

.main-img {
    height: 176px;
    background: border-box;
    background-image: url("../images/luigi.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-img{
    height: 176px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accent-text {
    font-size: 20px;
    color: #fce8c3;
    letter-spacing: 2px;
}
@include media-breakpoint-up(sm) {
    .main-img,.carousel-img {
        height: 328px;
    }
}
@media (min-width: 400px) and (max-width: 575.98px) {
    .main-img,.carousel-img {
        height: 250px;
    }
}

.theme-img {
    background-image: url("../images/tematica.png");
}
.location-img {
    background-image: url("../images/locatie.png");
}
.days-img {
    background-image: url("../images/days.png");
}
.counter-text {
    font-size: 4.75rem;
}
.counter-label {
    font-size: 1rem;
}
@include media-breakpoint-up(sm) {
    .counter-text {
        font-size: 8.75rem;
    }
    .counter-label {
        font-size: 2rem;
    }
}
@media (min-width: 400px) and (max-width: 575.98px) {
    .counter-text {
        font-size: 6rem;
    }
    .counter-label {
        font-size: 1.5rem;
    }
}
.video-container .main-img {
    width: 200px;
    height: 200px;
}
.video-container .top-left {
    width: 200px;
    height: 200px;
    top: -20px;
    left: -20px;
    background-color: #77a1bb;
}
.video-container .bottom-right {
    width: 200px;
    height: 200px;
    left: 20px;
    bottom: -20px;
    top: auto;
    transform: none;
}

.video-container .bottom-left {
    z-index: -1;
    width: 200px;
    height: 200px;
    bottom: -20px;
    left: -20px;
    background-color: #fce8c3;
}

.video-container .year-text {
    font-size: 16px;
}
.video-container .program-text {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.first-program-img {
    background-image: url("../images/2019.png");
}
.second-program-img {
    background-image: url("../images/2021.png");
}
.third-program-img {
    background-image: url("../images/2023.png");
}
.min-width {
    width: min-content;
}
a {
    text-decoration: none;
}

.alert.alert-success {
    top: 1rem;
}

.left-radialBg {
    position: absolute;
    top: initial;
    left: initial;
    transform: translate(-60%, -20%);
    z-index: -2;
}
.right-radialBg {
    position: absolute;
    top: initial;
    left: initial;
    transform: translate(60%, 20%);
    z-index: -2;
}
@media (max-width: 576px) {
    .min-width {
        display: block !important;
    }
    .second-program-img {
        left: 0px !important;
    }
    .first-program-img .behind,
    .second-program-img .behind,
    .third-program-img .behind {
        top: initial;
        left: -10px;
        bottom: -10px;
    }
    .left-radialBg {
        position: absolute;
        top: initial;
        left: initial;
        transform: translate(-60%, -20%);
        z-index: -2;
    }
    .right-radialBg {
        position: absolute;
        top: initial;
        left: initial;
        transform: translate(60%, 20%);
        z-index: -2;
    }
}

#faq-section {
    background: linear-gradient(0.25turn, #1b264f, #293561) !important;
}

.mail-hyphen {
    hyphens: auto;
}
.mail-hyphen a {
    color: white;
}
.faq-items {
    padding: 24px 0; /* Vertical padding */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Single border between items */
}
.faq-items:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Top border for the first item */
}
.header-title h2 {
    font-size: 24px;
}

.menu-opened .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' d='M5 5L25 25M25 5L5 25'/%3E%3C/svg%3E");
}

.locale.image.navbar {
    width: 1.25rem;
}
.locale.nav-link {
    padding: 0;
}
@media (max-width: 991px) {
    .navbar-nav {
        gap: 0 !important;
    }
    .navbar-nav i:first-of-type {
        display: none;
    }
    .navbar-nav a {
        text-transform: uppercase;
        font-weight: 600;
        padding: 1.25rem 0;
    }
}
@media (max-width: 991px) {
    .navbar-element-container-color {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
    }
    .menu-opened .divider {
        margin-right: -20rem;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        width: 200vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: -20rem;
    }
    .header-title h2 {
        font-size: 16px;
    }
    .letter-spacing-m {
        letter-spacing: 0.17em;
    }
    .autohide.navbar.navbar-expand-lg > .container-fluid {
        display: block;
    }
}
#locatie,
#zilele,
#invitati,
#tematica {
    scroll-margin-top: 100px;
}
.dropdown-bg {
    background: rgba(255, 255, 255, 0.2);
}
.dropdown-bg a {
    color: white;
}
.dropdown-toggle.dropdown-toggle-no.show {
    background: #1b264f;
}

.bgimg::before {
    -webkit-backdrop-filter: blur(
        3px
    ); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(3px); /* Supported in all major browsers */

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.header-title {
    position: relative;
}
/* Set the width of the dropdown menu to match the parent */
.nav-item.dropdown {
    position: relative;
}

.nav-item.dropdown .dropdown-menu {
    width: inherit; /* Inherit the width of the parent element */
    min-width: 100%; /* Ensure the dropdown is at least as wide as the parent */
    box-sizing: border-box; /* Ensure padding/border is included in the width */
    left: 0; /* Align the dropdown with the left edge of the parent */
    right: 0; /* Align the dropdown with the right edge of the parent */
}

/* Optionally adjust padding/margins of dropdown items */
.nav-item.dropdown .dropdown-item {
    padding-left: 15px; /* Adjust padding as needed */
    padding-right: 15px;
}

.nav-item.dropdown a {
    border-radius: 4px;
}

@media (max-width: 991px) {
    .nav-link.show .ph-caret-down {
        transform: rotate(180deg);
    }

    .dropdown-mobile {
        background: none;
        border: none;
    }
    .bottom_border {
        position: relative;
    }
    .bottom_border:after {
        position: absolute;
        content: "";
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 90%;
        transform: translateX(-50%);
        bottom: 0px;
        left: 50%;
    }

    .fit-content {
        width: fit-content;
    }

    .bottom-border.show {
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .locale-bubble {
        width: fit-content;
    }
    .locale-bubble button {
        width: 100%;
        background: rgba(255, 255, 255, 0.2) !important;
        padding: 0.5rem 1rem !important;
        padding-bottom: 0.25rem !important;
        border-radius: 20px;
    }
    .locale-bubble ul {
        border: none;
        width: inherit;
        background: rgba(255, 255, 255, 0.2);
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0px 0px 20px 20px;
    }
    .locale-bubble li {
        padding: 0rem 1rem;
    }
    .locale-bubble button.show {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px 20px 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .fit-height {
        height: fit-content;
    }
    .locale-bubble .dropdown-item {
        width: min-content;
        color: #FCE8C3;
        font-weight: 500;
    }
    .dropdown-menu.fit-content {
        width: inherit !important;
        min-width: 100%;
    }

    .dropdown-menu.fit-content a {
        padding: 0.5rem 0;
    }
}
@media (min-width: 991px) {
    .mobile-only {
        display: none !important;
    }
}
.accordion-button {
    background: none !important;
}
.accordion-item {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.faq-items:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Top border for the first item */
}
.accordion-item button {
    color: white !important;
}
.faq-items {
    padding: 24px 0; /* Vertical padding */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Single border between items */
}
.faq-items:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Top border for the first item */
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FCE8C3'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
        var(--bs-accordion-border-color)!important;
}
.rounded-border{
    border-radius:4px;
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.accordion-item:last-of-type{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;  
}

#seeMoreBtn{
color:#FCE8C3;
border:none;
}


.carousel-item img {
    height: 100%; /* Make sure image takes full height of carousel item */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
    border-radius: 20px; /* Rounded borders */
    width: 100%; /* Make sure the image fits the width of the carousel item */
}

.uppercase {
    text-transform: uppercase !important;
}